html,body {
  margin:0px auto;
  font-family: "Georgia", serif;
  color:#222;
}
a,
a:visited {
  color:#6F6F6F;
}
  a:hover {
    cursor:pointer;
  }
#container {
  width:100%;
  max-width:940px;
  margin:0px auto;
  padding-top:1rem;
  position:relative;
  margin-top:7rem;
}
  #container h2 {
    color:#3C3C3C;
    font-family: "Italiana";
    margin:0;
    margin-bottom:0.5rem;
  }
  .landing {
    width:16%;
    height:300px;
    float:left;
    margin-left:2px;
    margin-bottom:1rem;
    margin-top:5rem;
    background-size:cover;
      -moz-background-size:cover;
      position:relative;
  }
    .landing p {
      color:#fff;
      position:absolute;
      top:1rem;
      width:100%;
      font-family:"Raleway";
      -webkit-transition: opacity 0.1s linear;
         -moz-transition: opacity 0.1s linear;
           -o-transition: opacity 0.1s linear;
              transition: opacity 0.1s linear;
      opacity: 0.5;
      text-align:center;
      font-size:18pt;
    }
    .landing:hover {
      cursor:pointer;
    }
      .landing:hover p {
        opacity:1;
      }
    ul#nav {
      margin: 0px auto;
      position:absolute;
      right:5rem;
      font-family: "Raleway";
      font-weight:200;
      top:1.5rem;
      list-style:none;
      padding:0;
      font-size:20px;
    }
      ul#nav li {
        margin-right:2rem;
        display:inline-block;
      }
      ul#nav a {
        text-decoration:none;
        color:#6f6f6f;
        text-align:right;
      }
        ul#nav a:hover {
          text-decoration:underline;
        }
    #header {
      position:absolute;
      top:0rem;
      width:100%;
      right:0;
      margin:0px auto;
      padding-left:1rem;
      margin-top:2rem;
      -webkit-transition: all 0.1s linear;
         -moz-transition: all 0.1s linear;
           -o-transition: all 0.1s linear;
              transition: all 0.1s linear;
    }
      #header h1 {
        margin:0;
        margin-top:0.5rem;
        margin-left:1.5rem;
        font-family: "Italiana";
        font-weight:lighter;
        font-size:30pt;
        color:#222;
        display:inline-block;
      }
      #header h1.home {
        width:100%;
        text-align:center;
        padding:0;
        margin:0;
        margin-top:2.5rem;
        font-size:37pt;
      }
  #main {
    margin:0px auto;
    margin-top:5rem;
    max-width:940px;
    width:940px;
  }
    #main #copyright {
      clear:both;
    }

#copyright {
  padding:1rem 0;
  font-size:9pt;
  text-align:center;
  width:100%;
  box-sizing:border-box;
}
  #copyright a {
    color:#3a3a3a;
  }

/* fancybox */
.fancybox {
  text-decoration:none;
}
.fancybox.buttons div {
  width:24%;
  min-height:280px;
  max-height:280px;
  background-color:#ccc;
  border-radius:3px;
     -webkit-border-radius: 3px;
  background-size: cover;
  background-position:10% 10%;
  display:inline-block;
}
  .fancybox.buttons div.special {
    background-position-x:81%;
  }
.fancybox-overlay {
  background-image: none !important;
  background-color:rgba(0,0,0,0.8) !important;
}
.contact {
  margin-top:5rem !important;
}

@media (max-height:720px) {
  #header {
    margin-top:0;
  }
  #main {
    margin-top:2rem;
  }
}
@media (min-width:951px) and (max-width:1260px) {
  ul#nav {
    position:static;
    margin-left:2rem;
  }
}

@media (max-width:950px) {
  #header h1 {
    text-align:center;
    margin:0px auto;
    width:100%;
    margin-bottom:1rem;
  }
  ul#nav {
    position:static;
    margin-left:2rem;
    display:block;
    margin-bottom:2rem;
  }
  #container {
    margin-top:10rem;
  }
  #header h1.home {
    margin-top:0;
  }

  #main {
    margin-top:7rem;
  }
  .landing {
    width:100%;
    height: 10rem;
    margin-top:0;
    margin-bottom:0.5rem;
  }
    .landing p {
      font-size:41pt;
      top:0;
      opacity:1;
    }
}
