html,body {
  margin:0px auto;
  font-family: "Georgia", serif;
  color:#222;
}
a,
a:visited {
  color:#6F6F6F;
}
  a:hover {
    cursor:pointer;
  }
#container {
  box-sizing:border-box;
  width:100%;
  max-width:940px;
  margin:0px auto;
  padding-top:1em;
  padding-left:1em;
  padding-right:1em;
  position:relative;
}
  #container p {
    padding-right:4em;
  }
  .landing {
    width:33%;
    height:400px;
    float:left;
    margin-left:2px;
    margin-bottom:1em;
    margin-top:5em;
    background-size:cover;
      -moz-background-size:cover;
      position:relative;
  }
    .landing p {
      color:#fff;
      position:absolute;
      width:100%;
      font-family:"Raleway";
      -webkit-transition: bottom 0.1s linear;
         -moz-transition: bottom 0.1s linear;
           -o-transition: bottom 0.1s linear;
              transition: bottom 0.1s linear;
      text-align:center;
      font-size: 25pt;
      bottom: -1px;
    }
    .landing:hover {
      cursor:pointer;
    }
      .landing:hover p {
        bottom:10px;
      }
    ul#nav {
      margin: 0px auto;
      position:absolute;
      right:5em;
      font-family: "Raleway";
      font-weight:200;
      top:1.5em;
      list-style:none;
      padding:0;
      font-size:20px;
    }
      ul#nav li {
        margin-right:2em;
        display:inline-block;
      }
      ul#nav a {
        text-decoration:none;
        color:#6f6f6f;
        text-align:right;
      }
      ul#nav a.active {
        font-weight: bold;
        border-top: 3px solid #6f6f6f;
        padding-top: 6px;
      }
        ul#nav a:hover {
          text-decoration:underline;
        }
    #header {
      box-sizing:border-box;
      position:relative;
      width:100%;
      height:100px;
      margin:0px auto;
      padding-left:1em;
      margin-top:2em;
      -webkit-transition: all 0.1s linear;
         -moz-transition: all 0.1s linear;
           -o-transition: all 0.1s linear;
              transition: all 0.1s linear;
    }
      #header h1 {
        position:absolute;
        box-sizing:border-box;
        top:0em;
        margin:0;
        margin-top:0.5em;
        margin-left:1.5em;
        font-family: "Italiana";
        font-weight:lighter;
        font-size:30pt;
        color:#222;
        display:inline-block;
      }
      #header h1.home {
        width:100%;
        text-align:center;
        padding:0;
        margin:0;
        margin-top:2.5rem;
        font-size:37pt;
      }
  #main {
    margin:0px auto;
    max-width:940px;
    width:100%;
    margin-top:-2em;
  }
    #main #copyright {
      clear:both;
    }

#copyright {
  padding:1em 0;
  font-size:9pt;
  text-align:center;
  width:100%;
  box-sizing:border-box;
}
  #copyright a {
    color:#3a3a3a;
  }

/* fancybox */
.fancybox {
  text-decoration:none;
}
.fancybox.buttons div {
  width:49%;
  min-height:380px;
  max-height:380px;
  background-color:#ccc;
  border-radius:3px;
     -webkit-border-radius: 3px;
  background-size: cover;
  background-position:10% 10%;
  display:inline-block;
}
  .fancybox.buttons div.special {
    background-position-x:81%;
  }
.fancybox-overlay {
  background-image: none !important;
  background-color:rgba(0,0,0,0.8) !important;
}
.contact {
  margin-top:3em !important;
}

@media (max-height:720px) {
  #header {
    margin-top:0;
  }
}

@media (max-width:950px) {
  #header.internal {
    height:180px;
  }
  #header h1 {
    text-align:center;
    margin:0px auto;
    width:100%;
    margin-top:0.5em;
    position:static;
  }
  ul#nav {
    position: static;
    margin: 0px auto;
    margin-left: 1em;
    margin-top:1em;
  }
  ul#nav li {
    display:block;
    padding-left:6px;
  }
    ul#nav a {
      padding-left:6px;
    }
    ul#nav a.active {
      border-top: 0;
      border-left: 3px solid #6f6f6f;
      padding-top: 0px;
    }
}
@media (max-width:670px) {
  #header {
    position:static;
    height:180px;
  }
  .landing {
    width:100%;
    height: 10em;
    margin-top:0;
    margin-bottom:0.5em;
  }
    .landing p {
      font-size:41pt;
      top:0;
      opacity:1;
    }
}
